<a href="https://colab.research.google.com/github/ricardosaj/Bootcamp-Data-Science-Alura/blob/main/CadernoDoSuperDesafioModulo01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**BOOTCAMP DE DATA SCIENCE DA ALURA 2022**

***SUPER DESAFIO DO MÓDULO 01***

*Minha proposta é criar uma correlação entre o valor gasto/mês em cada estado com o número óbitos desses estados. Essa avaliação sendo feita para o ano de 2020*

*Retirei duas tabelas com essas informações do TABNET*

In [1]:
# Essa célula será para importar as bibliotecas que utilizaremos
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [3]:
# Essa célula será para ler os arquivos .csv que temos e formatá-los
gastosporestadoem2020 = pd.read_csv("/content/gastoporestadoem2020.csv", encoding="ISO-8859-1", skiprows= 3, sep = ";" , skipfooter= 12, thousands=".", decimal=",")
obitosporestadoem2020 = pd.read_csv("/content/obitosem2020.csv", encoding="ISO-8859-1", skiprows= 3, sep = ";" , skipfooter= 12, thousands=".", decimal=",")
obitosporestadoem2020.head()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support skipfooter; you can avoid this warning by specifying engine='python'.

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support skipfooter; you can avoid this warning by specifying engine='python'.
  This is separate from the ipykernel package so we can avoid doing imports until

  Unidade da Federação  Janeiro  Fevereiro  ...  Novembro  Dezembro  Total
0          11 Rondônia      684        633  ...       753       976  10284
1              12 Acre      367        339  ...       379       441   4935
2          13 Amazonas     1612       1501  ...      1695      2097  24426
3           14 Roraima      259        199  ...       281       265   3516
4              15 Pará     3416       3281  ...      3425      3795  51273

[5 rows x 14 columns]