<a href="https://colab.research.google.com/github/ricardosaj/Bootcamp-Data-Science-Alura/blob/ricardosaj-superdesafio02_bootcampDS_Alura/SuperDesafioModulo02.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
dados = pd.read_csv("https://raw.githubusercontent.com/ricardosaj/Bootcamp-Data-Science-Alura/main/vacinas_por_regiao_2000_a_2019_2.csv",
                    encoding="ISO-8859-1", 
                    skiprows = 3, sep=";", skipfooter=20,
                    thousands=".", decimal=",")
dados

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support skipfooter; you can avoid this warning by specifying engine='python'.
  after removing the cwd from sys.path.

     Ano      RO      AC       AM  ...       MT       GO       DF     Total
0   2000  595405  245193  1198384  ...  1091090  2040674   820415  67270520
1   2001  634672  281863  1327220  ...  1089117  2069557   798164  69655072
2   2002  603409  309201  1360736  ...  1056545  2055137   760178  66135589
3   2003  567875  300787  1270370  ...  1014615  1978045   776852  63525217
4   2004  732052  378766  1581187  ...  1286775  2634225   985282  79342932
5   2005  698279  353552  1613814  ...  1266069  2339329   954613  74720359
6   2006  702254  349014  1685221  ...  1239094  2366568   989724  74923836
7   2007  671022  386861  1704003  ...  1263603  2428428  1035290  75177841
8   2008  670070  379638  1647149  ...  1225930  2322350  1000883  72922335
9   2009  681503  390602  1703841  ...  1232897  2351035  1002519  74411131
10  2010  647582  375827  1658753  ...  1151191  2274623   977874  73202221
11  2011  435345  257132  1090240  ...   762483  1515006   582929  44640471
12  2012  427785  240469  1149204  ...   754284  1375687   615304  42720182
13  2013  487788  240916  1173912  ...   882673  1637161   858143  49110580
14  2014  664623  254867  1546920  ...  1204418  2068419  1000131  63842324
15  2015  692060  294119  1721877  ...  1218562  2012864   732494  63025044
16  2016  619782  259444  1404249  ...  1117107  1808414  1331740  53191124
17  2017  580329  265563  1412102  ...  1074008  1852394   910783  53132232
18  2018  554429  266548  1435823  ...  1053524  1764350   887622  53110958
19  2019  344707  183891   996366  ...   657632  1139751   609503  33461957

[20 rows x 29 columns]

In [3]:
dados.drop('Total', axis=1, inplace=True)

In [4]:
dados.set_index('Ano', inplace=True)

In [5]:
dados.head()

          RO      AC       AM      RR  ...      MS       MT       GO      DF
Ano                                    ...
2000  595405  245193  1198384  187080  ...  896172  1091090  2040674  820415
2001  634672  281863  1327220  162704  ...  937187  1089117  2069557  798164
2002  603409  309201  1360736  171102  ...  856199  1056545  2055137  760178
2003  567875  300787  1270370  168107  ...  814843  1014615  1978045  776852
2004  732052  378766  1581187  220949  ...  971764  1286775  2634225  985282

[5 rows x 27 columns]

In [13]:
#população por estado
sph = 46649132
mgh = 21411923
rjh = 17463349
bah = 14985284
prh = 11597484
rsh = 11466630	
peh = 9674793	
ceh = 9240580
pah = 8777124	
sch = 7338473	
goh = 7206589	
mah = 7153262
amh = 4269995	
esh = 4108508
pbh = 4059905
mth = 3567234	
rnh = 3560903	
alh = 3365351	
pih = 3289290
dfh = 3094325	
msh = 2839188
seh = 2338474
roh = 1815278
toh = 1607363
ach = 906876
aph = 877613
rrh = 652713

#populacao por regiao
sudesteh = 89632912
nordesteh = 57667842	
sulh = 30402587	
norteh = 18906962	
centrooesteh = 16707336

In [7]:
#criei variáveis para as regiões
sudeste = dados[['RJ', 'SP', 'MG', 'ES']]
norte = dados[['AC', 'AP', 'AM', 'PA', 'RO', 'RR', 'TO']]
sul = dados[['PR', 'SC', 'RS']]
nordeste = dados[['AL', 'BA', 'CE', 'MA', 'PB', 'PE', 'PI', 'RN', 'SE']]
centrooeste = dados[['DF', 'GO', 'MT', 'MS']]

In [14]:
#variáveis de vacinação por tamanho da população
rel_RO = dados["RO"]/ roh
rel_AC = dados["AC"]/ ach
rel_AM = dados["AM"]/ amh
rel_RR = dados["RR"]/ rrh
rel_PA = dados["PA"]/ pah
rel_AP = dados["AP"]/ aph
rel_TO = dados["TO"]/ toh
rel_MA = dados["MA"]/ mah
rel_PI = dados["PI"]/ pih
rel_CE = dados["CE"]/ ceh
rel_RN = dados["RN"]/ rnh
rel_PB = dados["PB"]/ pbh
rel_PE = dados["PE"]/ peh
rel_AL = dados["AL"]/ alh
rel_SE = dados["SE"]/ seh
rel_BA = dados["BA"]/ bah
rel_MG = dados["MG"]/ mgh
rel_ES = dados["ES"]/ esh
rel_RJ = dados["RJ"]/ rjh
rel_SP = dados["SP"]/ sph
rel_PR = dados["PR"]/ prh
rel_SC = dados["SC"]/ sch
rel_RS = dados["RS"]/ rsh
rel_MS = dados["MS"]/ msh
rel_MT = dados["MT"]/ mth
rel_GO = dados["GO"]/ goh
rel_DF = dados["DF"]/ dfh